* {
	font-family: 'Merriweather Sans', sans-serif;
}

nav, footer {
	background-color: #163172;
}


html {
	scroll-behavior: smooth;
}

#card-img-top{
	height: 10px;
	width: 5rem;
}

#gmap_canvas {
	height: 50vh;
	width: 100%;
}

#home {
	height: 70vh;
}

/*#home ,#tools {
	background-image: url("https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

}*/


#home, #tools {
  /* The image used */
  background-image: url("https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fa-icons {
	font-size: 3rem;
}





/*Test Animation*/

body {
	animation: transitionIn 0.75s;
}


@keyframes transitionIn {
	from {
		opacity: 0;
		transform: rotateX(-10deg);
	}
	to {
		opacity: 1;
		transform: rotateX(0);
	}
}



